{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>몬티홀 문제</h1>
<h2>몬티홀 문제는 미국의 TV 게임 쇼 《Let's Make a Deal》에서 유래한 것으로 쇼의 진행자 몬티 홀의 이름에서 따온 것이다.</h2>
<br>
<h3>세 개의 문 중에 하나를 선택하여 문 뒤에 있는 선물을 가질 수 있는 게임쇼가 있다.<br>
    자동차 한 대와 염소 두 마리가 세 개의 문 뒤에 하나씩 놓여 있다.<br>
    참가자가 하나의 문을 선택하면 진행자는 다른 문 뒤에 염소가 있음을 보여주면서 선택을 바꾸겠냐고 묻는다.<br>
    이때 참가자는 선택을 바꾸는 것이 유리할까?</h3>
<br>
<h4>풀이</h4>
<br>
<img src="{% static 'img/montyhall.jpg' %}" alt="증명">
<h5>셀빈은 이 표에서 참가자가 선택을 바꿀 경우 자동차를 받을 확률은 2/3가 되고 같은 방법으로 선택을 바꾸지 않을 경우 1/3이 된다고 설명했다.</h5>
{% endblock %}