{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="start">
    <h1>아래 세 개의 문에 사자 두 마리, 보석 하나가 숨겨져 있다.
        <br>당신은 보석을 찾아야 한다.
        <br>보석이 있을 것이라고 생각하는 문을 선택하라.</h1>    
</div>
    
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">1</h5>
              <a href="{% url 'choice:door1' %}" class="btn btn-primary">1번 문 선택</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">2</h5>
                <a href="{% url 'choice:door2' %}" class="btn btn-primary">2번 문 선택</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">3</h5>
              <a href="{% url 'choice:door3' %}" class="btn btn-primary">3번 문 선택</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}