{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="start">
    <h1>세 번째 문을 선택하셨습니다.
        <br>첫 번째 문에 사자가 있습니다.
        <br>당신은 선택을 바꾸시겠습니까?
    </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">1</h5>
              <a href="#" class="btn btn-primary">사자</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">2</h5>
                <a href="{% url 'choice:door32' %}" class="btn btn-primary">2번 문 선택</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">3</h5>
              <a href="{% url 'choice:door33' %}" class="btn btn-primary">3번 문 선택</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}