{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="start">
  <h1>당신은 세 번째 문을 선택하셨습니다<br>
      보석은 세 번째 문에 있었습니다.<br>
      몬티홀에 따르지 않고 선택을 유지한 당신은 보석을 획득하였습니다.
  </h1>  
</div>

<div class="card-group">
    <div class="card">
      <img src="https://pds.joins.com/news/component/htmlphoto_mmdata/202001/01/f86957cb-ee94-4611-bc81-a5478ca91f92.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">1</h5>
        <p class="card-text">사자</p>

      </div>
    </div>
    <div class="card">
      <img src="https://pds.joins.com/news/component/htmlphoto_mmdata/202001/01/f86957cb-ee94-4611-bc81-a5478ca91f92.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2</h5>
        <p class="card-text">사자</p>

      </div>
    </div>
    <div class="card">
      <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F213BE940522C56292E" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3</h5>
        <p class="card-text">보석</p>
      </div>
    </div>
  </div>
  {% endblock %}